*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --primary: crimson;
    --dark: rgb(73, 63, 152);
    --darkdark: #111827;
    --light: #f3f4f6;

}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    background-color: var(--dark);
    color: var(--light)
}

.container{
    background-color: var(--darkdark);
    width: 21rem;
    height: 10rem;
    border-radius: 10px;
}

.time-container{
    font-size: 3.3rem;
    margin: 1rem auto;
    text-align: center;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

button{
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 9px;
    color: var(--light); 
    background-color: var(--primary);
}

button:hover{
    opacity: 0.7;
    cursor: pointer;
}

